<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        .navbar-right {
            float: right !important;
            margin-right: 15px;
            margin-left: 15px;
        }
    </style>
    <title>@ViewBag.Title</title>
</head>
<body>
<div class="navbar navbar-fixed-top" role="navigation">
    <a class="navbar-brand text-left" href="#">
        <span class="hidden-xs">GamingDeviceStore - магазин игровых устройств</span>
        <div class="visible-xs">Gaming</div>
        <div class="visible-xs">Device</div>
        <div class="visible-xs">Store</div>
    </a>
    <div>
        @Html.Action("Summary","Cart")
    </div>
</div>
<br/>
<br class="visible-xs"/>
<div class="visible-xs">
    @Html.Action("Menu", "Nav", new { horizontalNav = true})
    <br/>
</div>
<div class="row panel">
    <div id="categories" class="col-sm-3 hidden-xs">
        @Html.Action("Menu","Nav")
    </div>
    <div class="col-xs-12 col-sm-8">
        @RenderBody()
    </div>
</div>
<footer>
    <p>&copy; @DateTime.Now.Year - German Podlesskiy</p>
</footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
